.wrapper {
  .max_width {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
}

.nav {
  border-bottom: 1px solid $border-color;
  nav {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    ._left {
      display: flex;
      align-items: center;
    }
    .logo {
      font-weight: 900;
      font-size: 20px;
    }
    .links {
      margin: 0 20px;
      padding: 0 20px;
      border-left: 1px solid $border-color;
    }
  }
}

.hero_section {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  // background: blue;
  .max_width {
    width: 100%;
  }

  .heading_container {
    margin-bottom: 60px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    h1 {
      margin-bottom: 30px;
    }
    p {
      line-height: 1.7;
      color: #011b3386;
      
      strong {
        font-weight: 900;
        color: #1a6ef6d2;
      }
    }
  }
  .big_search_bar {
    display: flex;
    max-width: 600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 20px 10px rgba(102, 102, 102, 0.075);
    padding: 20px;
    border-radius: 10px;
    input {
      background: #e9eef3;
      padding: 15px 20px;
      margin-right: 10px;
      flex: 1;
      caret-color: #1a6df6;
      border-radius: 5px;
    }
    button {
      flex-shrink: 0;
      padding-right: 24px;
      padding-left: 24px;
    }
  }
}

.blog_section {
  .max_width {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 40px;
    padding-bottom: 100px;
  }
}

.blog_article {
  display: flex;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;

  &.active {
    box-shadow: 0 0 20px 10px rgba(201, 201, 201, 0.116);
  }
  .image_holder {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    flex-shrink: 0;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(183, 201, 207, 0.192);
  }
  .text_holder {
    .title {
      line-height: 1.6;
      font-weight: 900;
    }
  }
}

.article_header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  .tag {
    background: orange;
    color: #fff;
    padding: 5px 6px;
    font-size: 90%;
    width: fit-content;
    border-radius: 3px;
  }
  .time {
    font-size: 90%;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    &:before {
      content: "";
      width: 4px;
      height: 4px;
      background: rgb(71, 71, 71);
      border-radius: 10px;
      display: block;
      margin: 0 15px;
    }
  }
}

.blog_article_content {
  .image_holder {
    height: 300px;
    width: 100%;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .article_title {
    font-family: "ubuntu";
    line-height: 1.7;
    margin: 20px 0;
  }
  .article_writer {
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    .dp_rapper {
      background: rgb(224, 224, 224);
      display: block;
      height: 40px;
      width: 40px;
      border-radius: 100vh;
      margin-right: 10px;
    }
  }
}

.no_posts {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 170px;
  .illustration_rapper {
    img {
      width: 200px;
      height: 200px;
      background: rgb(253, 253, 253);
      border-radius: 100vh;
      border: 1px solid rgb(240, 240, 240);
    }
  }
  h5 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 140%;
    text-transform: capitalize;
    letter-spacing: -0.5px;
  }
  p {
    opacity: 0.5;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
  }
}
